@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-500 {
    animation-delay: 0.5s;
  }
  .rotate-y-6 {
    transform: rotateY(6deg);
  }
  .-rotate-y-6 {
    transform: rotateY(-6deg);
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
}
